name: CI Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@v3
        with:
          # shallow clone disabled as recommended by SonarCLoud - https://github.com/marketplace/actions/sonarcloud-scan
          fetch-depth: 0
      - name: Setup .Net
        uses: actions/setup-dotnet@v3
      - name: Restore with .Net Core
        run: dotnet restore
      - name: Build with .Net Core
        run: dotnet build --no-restore --configuration Release
      - name: Test with .Net Core
        run: dotnet test --no-build --nologo --configuration Release
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=shoshins-github
            -Dsonar.projectKey=apple-receipt
            -Dsonar.verbose=true
