name: PR Check Up

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@v3
        with:
          # shallow clone disabled as recommended by SonarCLoud - https://github.com/marketplace/actions/sonarcloud-scan
          fetch-depth: 0
      - name: Setup .Net Core 6
        uses: actions/setup-dotnet@v3
      - name: Restore with .Net Core
        run: dotnet restore
      - name: Build with .Net Core
        run: dotnet build --no-restore --configuration Release
      - name: Test with .Net Core
        run: dotnet test --no-build --nologo --configuration Release
